*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #2c3e50; /* Darker background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #ecf0f1; /* Light grey background for grid */
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: #bdc3c7; /* Grey color for cells */
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
  color: black; /* Default text color */
}

.tile[data-value="2"] { background-color: #eee4da; }
.tile[data-value="4"] { background-color: #ede0c8; }
.tile[data-value="8"] { background-color: #f2b179; }
.tile[data-value="16"] { background-color: #f59563; }
.tile[data-value="32"] { background-color: #f67c5f; }
.tile[data-value="64"] { background-color: #f65e3b; }
.tile[data-value="128"] { background-color: #edcf72; }
.tile[data-value="256"] { background-color: #edcc61; }
.tile[data-value="512"] { background-color: #edc850; }
.tile[data-value="1024"] { background-color: #edc53f; }
.tile[data-value="2048"] { background-color: #edc22e; }

#game-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align the content */
  margin-top: 20px; /* Add some margin at the top */
}

#score-container {
  display: flex; /* Use flexbox for two-column layout */
  justify-content: space-between; /* Space out items */
  width: 100%; /* Full width */
  max-width: 400px; /* Limit max size */
  margin-bottom: 20px; /* Space between score and game board */
  font-family: Arial, sans-serif; /* Font style */
}

#heigh-score, #score {
  font-size: 1.5rem; /* Adjust size */
  color: white; /* Change color if desired */
  margin: 0; /* Remove default margin */
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
